.header {
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 6.875rem;
  background-color: white;
  padding: 2.25rem 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--gray200-color);
}

.header-wrapper {
  box-sizing: border-box;
  max-width: 60rem;
  width: calc(100% - 3.75rem);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.header-logo {
  width: 90px;
  display: flex;
  flex-basis: 90px;
  flex-shrink: 0;
  align-items: center;
  font-size: 1.875rem;
  color: var(--main-color);
}

.header-logo img {
  display: block;
  width: 100%;
  height: 1.875rem;
}

.button-group {
  margin-left: auto;
  color: var(--gray400-color);
  font-weight: bold;
  font-size: 0.75rem;
  display: flex;
  gap: 0.625rem;
}

.button-icon {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color 0.3s;
}

.button-icon:hover {
  background-color: var(--gray100-color);
}

.button-icon svg {
  width: 1.6rem;
  height: 1.6rem;
}

.menu svg path {
  stroke: var(--gray400-color);
}

/* 사이드NavBar */
.side-navbar {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 60%;
  height: 100dvh;
  z-index: 200;
  background-color: white;
  padding: 1.25rem;
  box-sizing: border-box;
  animation: fadeIn 0.3s ease-in-out;
}

@media (max-width: 768px) {
  .header-wrapper > nav,
  .button-group button,
  .button-group a {
    display: none;
  }

  .side-navbar,
  .button-group .menu {
    display: block;
  }

  :global(.dim) {
    display: block;
  }
}

@media (min-width: 769px) {
  .menu {
    display: none;
  }
  :global(.dim) {
    display: none;
  }
}

@keyframes fadeIn {
  from {
    display: none;
    transform: translateX(20px);
    opacity: 0;
  }
  to {
    display: block;
    transform: translateX(0);
    opacity: 1;
  }
}
