.calendar-input-wrap {
  box-sizing: border-box;
  height: 2.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  padding-right: 1.8rem;
  border: 1px solid var(--gray300-color);
  border-radius: 5px;
}

.calendar-input {
  width: 100%;
  border: none;
  padding: 0;
  font-size: 1rem;
}

.calendar-input:focus {
  outline: none;
}

.calendar-input-wrap svg {
  height: 100%;
  width: fit-content;
  flex-shrink: 0;
  margin-right: 0.5rem;
}

.wave {
  display: block;
  margin: auto 0;
}
