.filter-row {
  width: 100%;
  padding-bottom: 2.5rem;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 2.5rem;
  font-size: 0.875rem;
}

.filter-row-select {
  margin-top: 0.625rem;
}
.filter-row__title {
  word-break: keep-all;
}

.filter-contents {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  overflow: auto;
  height: 100%;
}

.filter-contents::-webkit-scrollbar {
  display: none;
}

@media (max-width: 320px) {
  .filter-row button {
    min-width: 4.625rem;
  }
}
