.navbar {
  margin-left: 3.75rem;
}

.navbar-wrapper {
  display: flex;
  gap: 4rem;
  height: 100%;
}

.navbar__item {
  display: flex;
  align-items: center;
}
.navbar__item a {
  font-size: 1.125rem;
  font-weight: bold;
  padding: 0px 20px;
  height: 100%;
  display: flex;
  align-items: center;
  word-break: keep-all;
}

.navbar__item.selected {
  color: var(--main-color);
}
